
<ul>
    <li><a href="{% url "client_new" %}">Nouveau client</a></li>
</ul>

<h1>Liste des clients</h1>

<table border="1" cellspacing="0" width="80%" align="center">
    <tr>
        <th>Prenom</th>
        <th>Nom</th>
        <th>Date Naiss</th>
        <th>Lieu Naiss</th>
        <th>Email</th>
        <th>Tel</th>
        <th>ACTION</th>
    </tr>
{% for client in clients %}
    <tr>
        <td>{{ client.firstName }}</td>
        <td>{{ client.lastName }}</td>
        <td>{{ client.dateOfBirth }}</td>
        <td>{{ client.placeOfBirth }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone }}</td>
        <td></td>
    </tr>
{% endfor %}
</table>